<main class="container main-admin">

  {{#if contautores}}
  <h1>Lista de Autores</h1>
  <br>

  <div class="row">

    {{#each autores as |autoress|}}

    <br>
    <br>

    <div class="card" style="width: 18rem; margin-left: 20px;  margin-top: 20px;">
      <img class="card-img-top img-size" src="{{autoress.ImagePath}}"
       alt="">
      <div class="card-body">
        <h5 class="card-text">{{autoress.Nombre}}</h5>
        <h6 class="card-text">{{autoress.Correo}} </h6>
        <a href="edit/{{autoress.id}}?edit=true" class="btn btn-primary">Editar</a> | <a href="delete/{{autoress.id}}"
          class="btn btn-danger">Borrar</a></td>
      </div>

    </div>


    {{/each}}
    {{else}}

    <h1>No hay Registros </h1>

    {{/if}}
  </div>
  </div>
  </div>
</main>