
<main class="container">

    {{#if contL}}
    <h1>Lista de libros</h1>
    <br>

                    <div class="row" >

                    {{#each Libro as |libross|}}
                        

                        
                        <div class="card" style="width: 18rem; margin-left:30px; ">
                        <img src="/Assets/img/icons8-book-96.png" style="with:100px height:100px"  alt="">
                        <div class="card-body">
                            <h5 class="card-text">{{libross.Nombre}}</h5>
                            <h6 class="card-text">{{libross.autor}} - {{libross.año}}</h6>
                            <h6 class="card-text">{{libross.editorial}}</h6>
                            <a href="edit/{{libross.id}}?edit=true" class="btn btn-primary">Editar</a> | <a href="delete/{{libross.id}}" class="btn btn-danger">Borrar</a></td>
                    </div>
                            
                        </div>
                    
                    
                    {{/each}}
                    {{else}}

                    <h1>No hay Productos </h1>

                    {{/if}}
                </div>
            </div>
        </div>
</main>